<h1>CFOhulp lead</h1>

company: <%= @demo_client.company %>
first_name: <%= @demo_client.first_name %>
last_name: <%= @demo_client.last_name %>
email: <%= @demo_client.email %>
telephone: <%= @demo_client.telephone %>
message: <%= @demo_client.message %>
