<h1>CFOhulp lead</h1>

company: <%= @demo_client.company %> <br>
first_name: <%= @demo_client.first_name %> <br>
last_name: <%= @demo_client.last_name %> <br>
email: <%= @demo_client.email %> <br>
telephone: <%= @demo_client.telephone %> <br>
message: <%= @demo_client.message %> <br>
